<%- include('modules/_header'); %> <%- include('modules/_flash-alert-msg'); %>
<section class="error page-content wrapper">
  <div class="error__content-container">
    <h1 class="error__msg">Oeps, hier geen bier! -- <%= message %></h1>
    <h2 class="error__status">Status: <%= error.status %></h2>
    <a class="error__btn btn" href="/">&#x2190; Home</a>
  </div>
</section>
<%- include('modules/_footer'); %>
