<%- include('modules/_header'); %> <%- include('modules/_flash-alert-msg'); %>
<div class="page-content">
  <div class="error-container">
    <h1>Oeps, hier geen bier! -- <%= message %></h1>
    <h2>Status: <%= error.status %></h2>
    <a href="/">&#x2190; terug naar de homepagina</a>
  </div>
</div>
<%- include('modules/_footer'); %>
