<%- include('modules/_header'); %>
<!-- import consent components -->
<%- include('modules/_cookie-consent'); %> <%- include('modules/_age-consent');
%> <%- include('modules/_flash-alert-msg'); %>
<div class="page-content">
  <!--    hero section   -->
  <div class="hero wrapper">
    <div class="scroll-down-icon scroll-down-icon--active">
      <i class="fas fa-angle-double-down fa-1x"></i>
    </div>
    <div class="hero__content-container">
      <div class="hero__cta">
        <div class="hero__cta__logo-container">
          <img
            class="hero__cta__logo"
            src="/images/logo_goudster.gif"
            alt="Goudster logo"
            title="Goudster logo"
          />
        </div>
        <div class="hero__cta__heading">
          <h1 class="hero__cta__heading__title">
            de &ldquo;Stèr&rdquo; uit Halen
          </h1>
          <h2 class="hero__cta__heading__subtitle">Echt Oud Belgisch Bier!</h2>
        </div>
        <a
          class="hero__cta__btn btn"
          href="/waar-proeven"
          title="Waar Goudster proeven"
          >Ontdek 'm hier!</a
        >
      </div>
      <div class="hero__brand-image-container">
        <img
          class="hero__brand-image"
          src="/images/flesje_2_achtergrond-zwart.jpg"
          alt="Afbeelding flesje Goudster bier"
          title="Goudster bier"
        />
      </div>
    </div>
  </div>
  <!--    testimonial section   -->
  <section class="testimonial">
    <div class="testimonial__heading heading wrapper">
      <i class="far fa-comments fa-4x"></i>
      <h2>Over Goudster Bier</h2>
      <h3>De mening van enkele fijnproevers</h3>
      <hr />
    </div>
    <div class="testimonial__content-container wrapper">
      <div class="testimonial__quote">
        <i class="fas fa-user-circle fa-3x"></i>
        <p class="testimonial__quote__text">
          Goudster is een amberkleurig bier van hoge gisting met een
          alcoholgehalte van zes procent en een zekere
          <span class="text-emphasis">fruitigheid vanuit de gist</span>. Het is
          een volmondig bier met een zoete toets. Het is geen doordrinkbier,
          maar wel eentje om rustig van te genieten.
        </p>
        <p class="testimonial__quote__author">
          <i class="fas fa-angle-right fa-2x"></i>Bart Durlet,<br />brouwmeester
        </p>
      </div>
      <div class="testimonial__quote">
        <i class="fas fa-user-circle fa-3x"></i>
        <p class="testimonial__quote__text">
          Met de herlancering van de legendarische Goudster pikken we een
          gewaardeerde Halense traditie weer op. De oude mouterijtoren is een
          bekend referentiepunt in de stad en dankzij de samenwerking met
          brouwerij Anders heeft Halen opnieuw wat het verdient: z'n eigen
          <span class="text-emphasis">authentiek</span> biermerk.
        </p>
        <p class="testimonial__quote__author">
          <i class="fas fa-angle-right fa-2x"></i>Carol Persoons,<br />Vereningde
          Brouwers
        </p>
      </div>
    </div>
  </section>
  <!--    history section   -->
  <section class="history">
    <div class="history__content-container wrapper">
      <a
        class="history__link link-section__link"
        title="Goudster heden en verleden"
        href="/ons-verhaal"
      >
        <div class="history__heading heading">
          <i class="fas fa-history fa-4x"></i>
          <h2>Ons Verhaal</h2>
          <h3>
            Grasduin in het rijke en bewogen verleden van Goudster in Halen. Van
            het prille begin bij de start van de 20ste eeuw tot de herlancering
            in 2013.
          </h3>
          <hr />
        </div>
      </a>
      <div class="history__image-container">
        <figure>
          <img
            src="/images/collectie_historiek_1.jpg"
            alt="Collage Klassiek Goudster Foto's"
          />
        </figure>
        <figure>
          <img
            src="/images/brouwerij_band_2.jpg"
            alt="Nieuwe Goudster rolt van de band"
          />
        </figure>
      </div>
    </div>
  </section>
  <!--    link section   -->
  <section class="link-section">
    <div class="link-section__content-container wrapper">
      <a
        class="link-section__link"
        title="Waar Goudster proeven"
        href="/waar-proeven"
      >
        <div class="link-section__link__content heading">
          <i class="fas fa-map-marked-alt fa-4x"></i>
          <h2>Proeven</h2>
          <h3>
            Ontdek de zaken waar de echte "stèr" wordt geschonken of zoek een
            drinkcenter in uw buurt.
          </h3>
          <hr />
        </div>
      </a>
      <a
        class="link-section__link link__partners fade-in"
        title="Info voor horeca"
        href="/product-info"
      >
        <div class="link-section__link__content heading">
          <i class="far fa-handshake fa-4x"></i>
          <h2>Info voor Café's en Verdelers</h2>
          <h3>
            Goudster van 't vat in uw zaak? Dat kan! Klik hier en lees meer over
            ons aanbod en neem dan snel contact op.
          </h3>
          <hr />
        </div>
      </a>
    </div>
  </section>
  <!--    newsletter section   -->
  <%- include('modules/_newsletter'); %>
</div>
<%- include('modules/_footer'); %>
