<%- include('modules/_header'); %> <%- include('modules/_flash-alert-msg'); %>
<%- include('modules/_cookie-consent'); %>
<div class="location page-content wrapper">
  <div class="location__content-container">
    <div class="logo-on-mobile">
      <a href="/" title="Home">
        <img
          class="logo-on-mobile__image"
          src="images/favicon.ico"
          alt="Goudster icoon"
        />
      </a>
    </div>
    <div class="location__intro">
      <h1 class="location__title">Proeven en bestellen</h1>
      <p>
        Goudster wordt slechts enkele malen per jaar gebrouwen in beperkte
        hoeveelheden maar is vlot verkrijgbaar in de regio rondom Halen in
        horecazaken en drinkcenters. Bekijk op de kaart hieronder waar je
        Goudster kan proeven of kopen.
      </p>
      <p>
        Wil je als eerste weten wanneer een nieuwe lading Goudster wordt
        gebrouwen en geleverd, volg ons dan via sociale media en schrijf je in
        op onze nieuwsbrief via het formulier onderaan deze pagina.
      </p>
      <div class="socials-insert location__intro__socials-insert">
        <hr class="socials-insert__divider" />
        <div class="socials-insert__link-container">
          <a
            class="socials-insert__link"
            href="http://www.facebook.com/dehalensegoudster"
            target="_blank"
            title="Volg Goudster op Facebook"
            rel="noopener noreferrer"
            ><i class="fab fa-facebook-square fa-2x"></i
          ></a>
          <a
            class="socials-insert__link"
            href="http://www.twitter.com/goudsterbier"
            target="_blank"
            title="Volg Goudster op X"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-x-twitter fa-2x"></i
          ></a>
          <a
            class="socials-insert__link"
            href="http://www.instagram.com/goudsterbier"
            target="_blank"
            title="Volg Goudster op Instagram"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-instagram fa-2x"></i
          ></a>
        </div>
      </div>

      <h2 class="location__section-title">Online bestellen</h2>
      <p>
        Onze webshop is momenteel offline maar als je in de omgeving van Halen
        woont of er passeert dan kan je ons contacteren om een bestelling te
        plaatsen en die vervolgens zelf af te halen. Gebruik ons
        contactformulier of stuur een mailtje naar
        <span class="span-email"></span
        ><noscript>"Enable Javascript to see this content."</noscript>
      </p>
      <a
        class="btn location__btn"
        href="/contact"
        title="Contacteer de Verenigde Brouwers"
        >online bestellen</a
      >
    </div>
  </div>
  <div class="location__map-container">
    <p>Klik op icoontjes op de kaart of zoom in voor meer details.</p>

    <div class="location__map" id="map"></div>
  </div>
</div>
<%- include('modules/_newsletter'); %> <%- include('modules/_footer'); %>
